/output/
/build/
.DS_Store
*~
*.swp
*.swo
*.tmp
.vscode/
.idea/
*.code-workspace
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.log
*.bak
__pycache__/
*.pyc
*.ipynb_checkpoints